body,
html {
  margin: 0;
  background-color: #fff;
}

/*For Desktop and default css */

.container {
  display: grid;
  grid-template-columns: 4;
  grid-auto-rows: auto;
}
.card {
  background-color: white;
  text-align: center;
  padding: 1vh;
  margin: 1vh;
}
.firstCard {
  grid-column: -5;
}
h2 {
  text-align: left;
  font-size: 1.75vw;
  margin: 1vh;
}
q,
h5 {
  color: black;
}
p {
  text-align: left;
  font-size: 1.25rem;
  margin: 1vh;
}
.ol-css {
  text-align: center;
  list-style-position: inside;
}

.img2 {
  filter: blur(2px) grayscale(60%);
}

/* background */
.carousel-bg {
    background-color: none;
    margin-top: 40px;
    margin-bottom: 40px;
  }
 
  /* text-style */
  .testimonial-style .testimonial-caption-style {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #354052;
    line-height: 30px;
    bottom: 40%;
    text-shadow: none;
    top: 10%;
  }
  .testimonial-style .testimonial-authors {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color: #354052;
    line-height: 30px;
    margin-top: 40px;
  }
  
/* Css For Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 3;
    grid-auto-rows: auto;
  }
  .firstCard {
    grid-column: -4;
  }
  p {
    font-size: 2.5vw;
  }
  h2 {
    font-size: 3vw;
  }
}

/* Css For Mobile */
@media screen and (max-width: 767px) {
  .container {
    display: block;
  }
  p {
    font-size: 3vw;
  }
  h2 {
    font-size: 3.5vw;
  }
}